* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 1rem;
    padding: 1rem;
}

header {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    background-color: #F5F5F5;
}

header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 1rem;
}

header nav ul li {
    margin: 0 1rem;
}

#titleMain {
    text-align: center;
    margin: 1rem;
    background-color: #F5F5F5;
}

#form {
    padding: 1rem 0;
    margin: 0 30%;
    background-color: #F5F5F5;
}

#formUsuario, #formLogin {
    margin: 1rem;
}

.form-group {
    display: flex 1;
    margin: 0.5rem 0;
}

.form-group > label {
    width: 100%;
}

.form-group > input, .field-group > #outrosJogos {
    margin: 0.3rem 0;
    width: 100%;
    height: 1.5rem;
}

fieldset > legend {
    text-align: center;
    margin: 1rem;
    padding: 0 0.5rem;
}

.field-group {
    margin: 0.5rem 1rem;
}

#divButton {
    margin: 1rem;
    text-align: center;
}

#submit {
    height: 1.5rem;
    width: 5rem;
    margin: 0 1rem;
}

#esqueci {
    height: 1.5rem;
    width: 10rem;
    margin: 0 1rem;
}

footer, #titleMain {
    background-color: #F5F5F5;
    margin: 0.5rem;
    padding: 0.5rem;
}

footer p {
    text-align: center;
}

